*.cache
report
vendor/
node_modules
adminmenu/js/dist
.php-cs-fixer.php
phpcs-gitlab.xml
phpcs.xml
psalm.xml
adminmenu/app/postcss.config.js
adminmenu/app/prettier.config.js
adminmenu/app/README.md
adminmenu/app/tsconfig.json
adminmenu/app/yarn.lock
adminmenu/app/src
adminmenu/app/public
adminmenu/app/test
adminmenu/app/package.json
*.map
.idea