.tabHeader {
  @apply inline-flex flex-row justify-center my-4 items-center p-1 rounded-xl bg-white;
}

.tabHeaderItem {
  @apply mx-1 py-2 px-5 bg-white rounded-xl;
  @apply font-bold text-base;

  color: black !important;

  &:hover {
    background: #e5e5e5;
  }

}

.active {
  @apply bg-black;
  color: white !important;
  &:hover {
    background: #333;
  }
}

.tabContent {

  .container {
    @apply my-1 p-3;
  }
}