
.pluginHeader {

  &, &:before {
    height: 60px;
    box-shadow: 0 8px 12px 0 #0000007F;
    position: relative;
    margin-top: 30px;
  }

  &:before {
    height: 90px;
    margin-top: 0;
    width: 90px;
    display: block;
    background: white;
    position: absolute;
    top: -15px;
    left: -15px;
    content: '';
    border-radius: 100%;
  }

  &:after {
    height: 100%;
    width: 100%;
    display: block;
    background: white;
    position: absolute;
    top: -0;
    left: 0;
    content: '';
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
  }

  @apply flex flex-row justify-between items-center p-0 rounded-xl;

  .pluginAvatar {
    @apply flex-grow-0;
    background: white;
    border-radius: 50%;
    z-index: 1000;
    margin-left: -8px;
  }

  .pluginTopBar {
    @apply flex flex-row items-center justify-between flex-grow p-1 pl-4;
    z-index: 1000;

    .pluginName {
      @apply text-2xl font-bold p-2 flex-grow;

    }
  }

  .pluginActions {
    @apply p-1;
  }
}

.pluginInfoBar {

  overflow: hidden;

  @apply invisible;
  @media (min-width: 768px) {
    @apply visible;
  }

  @apply mx-auto;

  .infoBar {
    @apply flex justify-around;

    @media (min-width: 768px) {
      @apply flex-row;
    }


    height: 24px;
    color: white;
    margin: 0 10%;
    background-color: black;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    & > img, & > object {
      max-height: 20px;
    }
  }

}
